---
# this playbook installs sysmon for linux (https://github.com/Sysinternals/SysmonForLinux)

- name: get version
  become: true
  ansible.builtin.shell: lsb_release -rs
  register: result

- name: Set Ubuntu version for Microsoft repo (use 22.04 if unsupported version)
  set_fact:
    ubuntu_version: "{{ '22.04' if result.stdout not in ['18.04', '20.04', '22.04', '24.04'] else result.stdout }}"

- name: add the microsoft repo
  become: true
  get_url:
    url: https://packages.microsoft.com/config/ubuntu/{{ ubuntu_version }}/packages-microsoft-prod.deb 
    dest: /tmp/packages-microsoft-prod.deb
    validate_certs: no

- name: dpkg install the deb
  become: true
  apt:
    deb: /tmp/packages-microsoft-prod.deb

- name: install sysinternalsebpf
  become: true
  apt:
    name:  sysinternalsebpf  
    state: latest
    update_cache: yes

- name: install sysmonforlinux
  become: true
  apt:
    name:  sysmonforlinux 
    state: latest
    update_cache: yes

- name: copy sysmon config template
  become: true
  copy:
    src: "SysMonLinux-CatchAll.xml"
    dest: "/tmp/SysMonLinux-CatchAll.xml"

- name: launch with config
  become: true
  ansible.builtin.shell: sysmon -accepteula -i /tmp/SysMonLinux-CatchAll.xml

- name: install powershell
  become: true
  apt:
    name: powershell
    state: latest
    update_cache: yes

- name: Create folder directory for inputs configuration
  file:
    path: "{{ item }}"
    state: directory
    recurse: yes
  with_items:
    - /opt/splunkforwarder/etc/apps/sysmon_app/local/

- name: copy inputs.conf to capture sysmon for linux logs
  copy:
    src: sysmon_inputs.conf
    dest: /opt/splunkforwarder/etc/apps/sysmon_app/local/inputs.conf
    force: yes